<h1>Search authors</h1>
<form action="/authors" method="GET">
  <input type="text" name="name" value="<%= searchOptions %>" />
  <button type="submit">Search</button>
</form>
<br />
<% authors.forEach((author) => { %>
<div><%= author.name %></div>
<a href="/authors/<%= author.id%>">View</a>
<a href="/authors/edit/<%= author.id%>">edit</a>
<%- include("../partials/deleteForm",{url:`/authors/${author.id}`}) %> <% }) %>
